.contents
  / = form_tag('/tweets', method: :post) do
  /   %input{:name => "name", :placeholder => "Nickname", :type => "text"}/
  /   %textarea{:cols => "30", :name => "text", :placeholder => "text", :rows => "10"}
  /   %input{:type => "submit", :value => "SENT"}/
  .form
    = form_for(@blog) do |f|
      = f.text_field :text, class: 'form__blog', placeholder: 'type a text'
      = f.submit 'Send', class: 'form__submit'
