$side-color-u: #253141;
$side-color-b: #2f3e51;
$main-color-u: #ffffff;
$main-color-c: #fafafa;
$main-color-b: #DDDDDD;
$font-color-blackblue: #434a54;
$font-color-blackgray: #333333;
$font-color-white: #ffffff;
$font-color-gray: #999999;
$font-color-plaegray: #eeeeee;
$button-color-lightblue: #67c5ff;
$button-color-lightbbrilliantcyan: #28adf0;

